<% content_for :meta_tags,
      <<-MOBILE_META.html_safe
      <meta name="viewport" content = "width = 700" />
      MOBILE_META
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <%= meta_tags yield(:meta_tags) %>
  <%= title_tag yield(:page_title) %>
  <%= stylesheet_link_tag('home') %>
</head>
<body>
  <div id="site-body">
    <div class="column-container">
      <div class="column left-column">
        <div class="iphone"><div class="screenshot"></div></div>
      </div>
      <div class="column right-column">
        <h1 id="site-logo"><%= SITE_NAME %></h1>
      
        <div class="module">
          <p>
            You've found Lolgramz: an easy, fun way to turn your Instagram
            photos into hilarious lolcat-style images and share them with your
            friends.
          </p>
          <p>
            Check out <%= link_to 'Lolgramz on the App Store', appstore_url,
                          :class => 'gaevent',
                          :'data-gaecategory' => 'outgoinglink',
                          :'data-gaeaction' => 'appstore',
                          :'data-gaelabel' => 'home-text' %>,
            and get creating!
          </p>
        </div>
        
        <%= link_to image_tag('home/appstore.png', alt: 'Available on the App Store'),
                    appstore_url, :class => 'appstore gaevent',
                    :'data-gaecategory' => 'outgoinglink',
                    :'data-gaeaction' => 'appstore',
                    :'data-gaelabel' => 'home-button' %>
          
      </div>
    </div>
  </div>

  <%= javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js') %>
  <%= javascript_include_tag('application') %>
  <%= render :partial => 'layouts/google_analytics.html' %>
</body>
</html>
