<!DOCTYPE html>
<html lang="en">
<head>
  <%= meta_tags yield(:meta_tags) %>
  <%= title_tag yield(:page_title) %>
  <%= stylesheet_link_tag('application') %>
  <%= stylesheet_tags %>
</head>
<body>
  <div id="site-header">
    <%= header_logo %>
    <div class="download">
      <%= link_to "Download on the App Store", appstore_url,
          :class => 'gaevent',
          :'data-gaecategory' => 'outgoinglink',
          :'data-gaeaction' => 'appstore',
          :'data-gaelabel' => 'header' %>
    </div>
  </div>

  <div id="site-body">
    <%= yield %>
  </div>

  <%= javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js') %>
  <%= javascript_include_tag('application') %>
  <%= render :partial => 'layouts/google_analytics.html' %>
</body>
</html>
