<% content_for :meta_tags,
      <<-MOBILE_META.html_safe
      <meta name="viewport" content = "width = device-width, initial-scale = 1.0, user-scalable = no" />
      MOBILE_META
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <%= meta_tags yield(:meta_tags) %>
  <%= title_tag yield(:page_title) %>
  <%= stylesheet_link_tag('application-mobile') %>
  <%= stylesheet_tags %>
</head>
<body>
  <div id="site-header">
    <%= header_logo %>
    <div class="download">
      <%= link_to "Download on the App Store", appstore_url %>
    </div>
  </div>

  <div id="site-body">
    <%= yield %>
  </div>

  <%# javascript_include_tag('application.mobile') %>
  <%# javascript_tags %>
</body>
</html>
