<!DOCTYPE html>
<html>
<head>
  <title>Lolgramz</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1>Lolgramz</h1>

  <% if flash[:notice] %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if flash[:alert] %>
  <p class="alert"><%= alert %></p>
  <% end %>

<%= yield %>

</body>
</html>
