<!DOCTYPE html>
<html lang="en">
<head>
  <%= meta_tags yield(:meta_tags) %>
  <%= title_tag yield(:page_title) %>
  <%= stylesheet_link_tag('application') %>
  <%= stylesheet_tags %>
</head>
<body>
  <h1>Lolgramz</h1>

  <%= yield %>

  <%# javascript_include_tag('application') %>
  <%# javascript_tags %>
</body>
</html>
